<html>
<head> 
    <meta charset="utf-8">
    <title>Agri crop cltivation </title>
</head>
<link rel="stylesheet" href="style.css">
<body ng-app="myModule">
    <div ng-controller="myController">
        <center><h1>CROP CULTIVATION</h1></center>
    <h2>Wheat</h2>
    <b><h3>Introduction</h3></b>
    <p>Wheat (Triticum spp.) occupies the prime position among the food crops in the world. In India, it is the second important food crop being next to rice and contributes to the total foodgrain production of the country to the extent of about 25%. Wheat has played a very vital role in stabilizing the foodgrain production in the country over the past few years.

        The origin of the durum wheats was probably in the region of Abyssinia, whereas the whole group of soft wheat, which includes the bread wheats, probably originated in the region of Pakistan, SouthWestern and the Southern parts of mountainous Bokhara.
        </p>
        <b><h3> VARIETIES</h3></b>
        Search : <input type="text" ng-model="SearchText.name" placeholder="Search name" />
        Search : <input type="text" ng-model="SearchText.yield" placeholder="Search yield" />
        <input type="checkbox" ng-model="exactmatch"/> Exact Match
        <br /><br />
        <style>
            table, th, td {
              border: 1px solid black;
              border-collapse: collapse;
            }
            th, td {
              padding: 5px;
              text-align: left;
            }
            </style>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Time</th>
                    <th>Mtime</th>
                    <th>Yield/.p/ha</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat ="variety in varieties| filter:SearchText:exactmatch">
                    <td> {{ variety.name }} </td>
                    <td> {{ variety.time }} </td>
                    <td> {{ variety.mtime}} </td>
                    <td> {{ variety.yield }} </td>
                </tr>
            </tbody>
        </table>
    </div><br>
    <p>
        <h3>Sowing:</h3><br>
        <h4>a) Sowing time:</h4><br>
            Based on above temperature requirement it has been found that for indigenous wheat last week of October,
             for long duration dwarf varieties like Kalyansona, Arjun, etc. first fortnight of November and for short
              duration dwarf wheats like Sonalika, Raj 821 etc. second fortnight is the best sowing time. Under exceptionally
               late sown condition it may be delayed to latest by 1st week of December beyond which if area is very small
                transplanting may be practiced.<br>

        <h4>b) Seed rate:</h4><br>
            Generally, a seed rate of 100 kg/ha has been found to be sufficient for most of the varieties like Kalyan Sona, Arjun, 
            Janak, etc.which have moderate tillering and medium sized grains. But a higher seed rate of 125 kg/ha is desirable for
            late sown wheat and normal sown for varieties like Sonalika, Raj 821 etc. which have bold grains and shy tillering habits.<br>

        <h4>c) Spacing:</h4><br>
            For irrigated, timely sown wheat, a row spacing of 15 to 22.5 cm is followed, but 22.5 cm between the rows is considered 
            to be the optimum spacing. Under irrigated late-sown conditions, a row spacing of 15-18 cm is the optimum. For dwarf 
            wheats, the planting depth should be between 5 and 6 cm. Planting beyond this depth results in a poor stand. In the case
             of conventional tall varieties, the depth of sowing may be 8 or 9 cm.<br>

        <h4>d) Seed treatment:</h4>
            The seed of loose smut-susceptible varieties should be given solar or hot-water treatment. If the wheat seed is used 
            only for sowing, and not for human consumption or for feeding cattle, it can be treated with Vitavax.
    </p>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src= "final.js"></script>
    <div class="main" ng-app="myList" ng-controller="myListController">
        
        <h1>List </h1>
        <div class="addItem">
            <input ng-model= "newItem" placeholder="Add Item" class="addText">
            <button ng-click = "pushItem()">Add</button>
        </div>
        <ul>
            <li ng-repeat="i in items">
                {{i}}
                <span ng-click="deleteItem($index)">x</span>
            </li>
        </ul>
    </div><br>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src= "final.js"></script>
    <p>
        <h3><b>Application of Mannures and Fertilizer</b></h3>
            It is desirable that 2 to 3 tonnes of farmyard manure per hectare or some other organic
             matter is applied 5 or 6 weeks before sowing. The fertilizer requirement of the irrigated wheat crop are as follows:<br>
             a.With assured fertilizer supply:<br>
             Nitrogen (N) @8- - 120 kg/ha<br>
             Phosphorus (P2O5) @ 40- 60 kg/ha<br>
             Potash (K2O) @ 40 kg/ha.<br>

             b.Under fertilizer constraints:<br>
             N @ 60-80 kg/ha<br>
             P2O5 @ 30-40 kg/ha<br>
             K2O @ 20-25 kg/ha.<br>
             
    </p>
    <div ng-controller="myreqController">
        <style>
            table, th, td {
              border: 1px solid black;
              border-collapse: collapse;
            }
            th, td {
              padding: 5px;
              text-align: left;
            }
            </style>
            <p>Methods likes or dislikes</p>
        <table>
            <thead>
                <tr>
                    <th>Method</th>
                    <th>Likes</th>
                    <th>Dislikes</th>
                    <th>Like/Dislike</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat ="webs in web">
                    <td> {{ webs.method }} </td>
                    <td> {{ webs.likes }} </td>
                    <td> {{ webs.dislikes}} </td>
                    <td> 
                        <input type="button" value="Like" ng-click="incrementLikes(webs)">
                        <input type="button" value="Dislike" ng-click="incrementDislikes(webs)">
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script type="text/javascript" src="final.js"></script>  
    <div ng-controller="formCtrl">
        <h2>Farmer details</h2>
        <form name="personForm" ng-submit="sendForm()">
        First Name:<input type="text" name="firstname" ng-model="person.fname" required />
        <span ng-show="personForm.firstname.$error.required"> Required! </span> <br /><br />
        Last Name:<input type="text" name="request" ng-model="person.lname" required />
        <span ng-show="personForm.lastname.$error.required"> Required! </span> <br /><br />
        <button type="submit">Submit Form</button><br /><br />
        <span>{{msg}}</span>
        </form>
        </div>
</body> 
</html>
